<?xml version="1.0" encoding="UTF-8"?>

<EventsCollection>

<Events>

<Event eName="The trial of Peneden Heath.">
<eLetter>M'lord you're summond to attend a trial! An assembly of Kentish nobility, to resolve a dispute between Odo Bishop of Bayeux and Lanfranc, Archbishop of Canterbury.</eLetter>
<eLetterTwo>Archbishop Lanfranc has accused Bishop Odo, half brother to William the Conquerer and previously the Earl of Kent of defrauding the Church and crown, during his tenure as Earl!</eLetterTwo>
<eLetterThree>Archbishop Lanfranc, and the men of Kent have found Odo Bishop of Bayeux guilty! The crown, and church will now be re-inbursed!</eLetterThree>
</Event>

  <Event eName="The peasants revolt!">
    <eLetter>A peasant revolt has begun m'lord! Peasants from Kent and Essex are marching towards us, led by a man they call Wat Tyler! Tis' the Kings new Poll Tax m'lord, they opposing! What shall we do?</eLetter>
    <eLetterTwo>The rebels attacked the gaol m'lord! They've freed all the prisoners, including the mad priest of Kent, John Ball! </eLetterTwo>
    <eLetterThree>News m'lord! The rebel leader Wat Tyler has been killed. Defeated during negotiations with the King, at Smithfield. I've heard men say he was a man of the borough m'lord!</eLetterThree>
  </Event>

  <Event eName="The making of martyrs.">
    <eLetter>A great unrest is growing between the Protestants, and the Catholics m'lord!</eLetter>
    <eLetterTwo>A crowd has gathered m'lord, by the river. I think they're planning a burning.</eLetterTwo>
    <eLetterThree>Seven martyrs have been made today, m'lord. Seven protestants were burned at the stake. Including Thomas Hitton!</eLetterThree>
  </Event>

  <Event eName="The Battle of Maidstone.">
    <eLetter>The Earl Of Norwich has raised the men of Kent and Essex for the King. He's sent a force of two thousand to hold Maidstone for the royalists!</eLetter>
    <eLetterTwo>Rumour has it that Sir Thomas Fairfax has been spotted m'lord! Leading four thousand parliment men our way!</eLetterTwo>
    <eLetterThree>A great battle occured lord. Sir Thomas Fairfax and his men stormed the bridge at East Farleigh! The royalists folded, and parliment now holds Maidstone!</eLetterThree>
  </Event>

</Events>

</EventsCollection>
